/dist
/.parcel-cache
episode 15: NetflixGPT-BuildingTheCore/node_modules/
episode 15: NetflixGPT-BuildingTheCore/.parcel-cache
episode 15: NetflixGPT-BuildingTheCore/dist/
episode 15: NetflixGPT-BuildingTheCore/coverage/
