/dist
/.parcel-cache
episode 16: NetflixGPT-WrappingUp/node_modules/
episode 16: NetflixGPT-WrappingUp/.parcel-cache
episode 16: NetflixGPT-WrappingUp/dist/
episode 16: NetflixGPT-WrappingUp/coverage/
episode 16: NetflixGPT-WrappingUp/.env
